.divTable {
  border-radius: 15px;
  padding: 5px 5px;
  margin: 3%;
}

.tableToDo {
  border-radius: 15px;
}

.divFilters {
  margin: 1%;
  display: flex;
  justify-content: flex-end;
}

.buttonFilter {
  width: 9em;
  height: 48px;
  margin-left: 50px;
}
